__pycache__/
*.pyc
*.pyo

.env
venv/
.venv/

trained_models/*.joblib
trained_models/*.pkl

backend/trained_models/*.joblib
backend/trained_models/*.pkl
*.csv
*.xlsx
*.parquet

.vscode/
.idea/

frontend/node_modules/
frontend/dist/